.ui.form.error .error.message{
  font-family: "Helvetica Neue", "Helvetica", "Arial" !important;
}

.ui.down.button.played.buffer.bio {
margin-bottom: 25px;
margin-top: 10px;
}
.ui.modal > .header{
  background-color: #dd932c;
  color: #eee6db;
}
.ui.modal > .content{
  background-color: #eee6db;
  color: #dd932c;
}
.page {
  font-family: 'Euphoria Script', cursive;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
  background-color: #eee6db;
}
body{
  font-family: 'Euphoria Script', cursive;
  background-color: dimgrey;
}
.phone-number{
  position: absolute;
  top: 91%;
  left: 5%;
}
.page-banner{
  text-align: center;
  margin: 0 auto auto auto;
}

div.content {
  width: 100%;
  background-color: ghostwhite;
  font-family: 'Lato', sans-serif;
}
ul.content {
  width: 100%;
  background-color: ghostwhite;
  font-family: 'Lato', sans-serif;
}

.bio.new-font{
  color:#eee6db;
}

.masthead.segment{
  background-color: #eee6db;
  background-size: cover;
  color: #eee6db;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  /*-webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;*/
  /*box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;*/
  position:relative;
}
img.banner-image{
  position: initial !important;
  width: 100%;
  max-width: 4927px;
}
img.banner-image-2{
  position: initial !important;
  width: 30%;
  max-width: 4927px;
  float: left;
}
.middle-content{
  float:right;
  width: 60%;
}
.page-banner{
  top: 33%;
  left: 8%;
  position:absolute;
}
div.banner{
position:relative;
}
div.page-items{
  text-align: center;
  margin: 0 auto auto auto !important;
}
.social-media{
  position: absolute;
}
.social-media > div{
  display:inline;
  max-width: 5%;
}
.social-media-icon{
  min-width:24px;
  width: 5%;
}
@media only screen and (max-width: 768px) {

  .ui.two.items{
    margin-right: 2% !important;
  }
  .desktop-stef{
    display: none;
  }
  .page-banner{
    top: 13%;
  }
  .desktop-player{
    display: none !important;
  }
  img.banner-image-2{
    width:100%;
    display: none !important;
  }
  .middle-content{
    width: 100%;
  }
  #mc_embed_signup{
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .mobile-stef{
    display: none !important;
  }
  .mobile-player{
    display: none !important;
  }
}
.sliders{
  position: relative;
}
.slider-header{
  position: absolute;
  top: 0px;
  left: 3%;
  z-index: 3;
  text-align: center;
}
div.item.content > div > div:nth-child(2){
  width:100%;
}
.mobile-player{
  display:none;
}
.music{
  width: 100%;
}
div.buffer{
  margin-bottom:1% !important;
}
div.upperbuffer{
  margin-top: 1% !important;
}
.signup{
  width: 85%;
}
.slides > li{
  display:none;
}
.slides > li:first-child{
  display:block;
}
.slides img:hover {
  border: 1px #CCBD82 solid; //Change to other color
}
.bio{
  font-family: 'Lato', sans-serif;
/*
  font-family: "Helvetica Neue", "Helvetica", "Arial" !important;
*/
  color: #dd932c;
  font-size: x-large;
}
.sign-up{
  float:left;
}
.bio2{
  color: #dd932c;
  font-size: xx-large;
}
.topbuff{
  margin-top: 1%;
  margin-bottom: 2%;
}
.modal{
  background-color: #dd932c !important;
  font-size: x-large;
}
.quotes{
  text-align: center;
  width: 100%;
}
.bandsintowntext{
  font-family: 'Lato', sans-serif;
}
.quoteperson{
  color: tan;
  font-style: italic;
}
.quote{
  color: #dd932c;
  font-weight: bold;
}
.content > p{
margin-top: 0%;
line-height: 1 !important;
}
ul.content{
  margin-top: 0%;
}

.button.played{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
 }
.presshead{
  font-family: 'Euphoria Script', cursive;
}
.bottomslides{
  padding: 10px 0 10px 0 !important;
}
